body {
    margin      : 0px;
    border      : 1px solid #C7D2DC;
    font-family : 微软雅黑, 宋体;
    font-size   : 12px;
    -webkit-user-select : none;
    background-color : white;
    color : black;
}

.start-sync-state {
    display : none;
}

.note-desc-text {
    height : 61px;
    color  : #AAAAAA;
    line-height : 61px;
    text-align  : center;
}
.sync-desc-text {
    background-color : #EDF0F1;
    height: 26px;
    line-height : 26px;
    text-align : left;
}

.start-sync-desc-text {
    padding-left : 8px;
}

.all-finish-icon {
    float: left;
    margin-top:4px;
    margin-right:3px;
    margin-left:5px;
    padding:0px;
    width  : 16px;
    height : 16px;
    display : inline-block;
    background-image  : url("../images/icon.png");
    background-repeat : no-repeat;
    background-position : -101px -143px;
}

.item-container {
    display : none;
}
.item-container > .note-item {
    height : 61px;
}

.item-container > .summary {
    margin  : 1px 0 0 0;
    background-color : #EDF0F1;
}

.item-container > .summary > .summary-text{
    margin: 0 0 0 8px;
    line-height : 25px;
    height : 25px;
}

.note-item > .sync-info-text, .note-item > .title {
    font-weight : normal;
    margin  : 0;
    padding : 0;
    height  : 12px;
    line-height : 12px;
    padding-left : 8px;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
}

.note-item > .title {
    font-size       : 12px;
    padding-top     : 13px;
    padding-bottom  : 10px;
}

.note-item > .sync-info-text {
    font-size  : 12px;
    color : #AAAAAA;
    padding-bottom : 8px;
}

.note-item > .sync-progress {
    height : 6px;
    background-color : #E7E7E7;
} 

/*正常时的进度条*/
.note-item > .sync-progress > .sync-ok{
    height : 100%;
    width  : 30%;
    background-image : url("../images/motion2.gif");
}

/*正常的图标*/
.note-item > .sync-ok{
    display : none;
}

/*出错时的进度条*/
.note-item > .sync-progress > .sync-error{
    height : 100%;
    width  : 80%;
    background-image : url("../images/grey.gif");
}

/*出错的图标*/
.note-item > .sync-error{
    float : right;
    margin  : 24px 8px 0 0;
    padding : 0px;
    width : 16px;
    height: 16px;
    background-image : url("../images/icon.png");
    background-position : -118px -143px;
}